html {
  font-family: sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  display: grid;
  place-items: center;
}

#app {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quote {
  font-size: 3rem;
  flex-grow: 1;
  color: white;
  font-weight: bold;
}

#switch-quote {
  font-size: 2rem;
  text-align: center;
  margin: auto;
  background: none;
  border: none;
}

footer {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: white;
  width: 80%;
  gap: 5px;
  position: absolute;
  bottom: 10px;
}

footer img {
  height: 2rem;
}
